.App {
  text-align: center;
}

.anime-list {
  display: flex;
  flex-wrap: wrap;
  margin: 2em;

}
.anime-item {
  font-size: 1vw;
  margin: 1em;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
  width: 20vw;
  border-radius: 1em;
  filter: drop-shadow(1vh 1vh .75vh rgb(54, 54, 54));
  transition: all .25s ease-in-out;

}
.anime-item p {
  background-color: white;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.anime-item img {
  position: fixed;
  width: 20%;
  height: auto;
  filter: drop-shadow(1vh 1vh .75vh rgb(255, 255, 255));

}

.anime-list :hover:not(p):not(h3):not(img){
  transform: scale(1.1);
}

h1 {
  text-align: center;
  font-size: 2vw;
}

h3 {
  text-align: center;
  font-size: 1.5vw;
  background-color: rgba(220, 20, 60, 0.575);
}